# 服务器地址
NEXT_PUBLIC_API_BASE_URL=/api
NEXT_PUBLIC_WS_BASE_URL=ws://localhost:3000

# CDN 服务器地址
CDN_BASE_URL=/cdn

# KOOK OAuth 配置
NEXT_PUBLIC_KOOK_CLIENT_ID=your_kook_client_id
NEXT_PUBLIC_KOOK_REDIRECT_URI=http://localhost:3000/koauth
